*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
   content: "";
   display: block;
   clear: both;
}

.max-width{
    width: 80%;
    margin: auto;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
h4{
    color: #555555;
}
.header{
    background-color: #22c3a3;
    padding: 20px 0px;
}
.header-left{
 float: left;
 width: 30%;
}
.header-left h2{
 font-size: 24px;
 color: white;
 cursor: pointer;

}
.header-left h2:hover{
    color: #555555;
}
.header-right{
    float: right;
    width: 70%;
}
.header-right ul{
    line-height: 30px;
    text-align: right;
}
.header-right ul li{
    display: inline-block;
    list-style: none;
}
.header-right ul li a{
    text-decoration: none;
    color:white;
    padding: 0px 10px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;

}
.header-right ul li a:hover{
    color: #006266;
  
}

/* Banner */
.banner{
    background: url("https://img.hotimg.com/header-bg014c97bf3a6995d6ba.jpeg");
    padding: 130px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    color: #fff;
}
.banner h1{
    margin-bottom: 20px;
    font-size: 55px;
}
.banner p{
    margin-bottom: 60px;
    font-size: 21px;
}
.banner .batton{
    display: inline-block;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    position: relative;
}
.batton a{
    text-decoration: none;
    color: #fff;

}
.service{
    margin: 100px 0px;
    color: #555555;
}
.service h3 {
    font-size: 35px;
    margin: 32px 0px;
    font-weight: bolder;
}
.icon-item{
    padding-bottom: 100px;
    border-bottom: 2px solid #0dbe9a;
 
}

.icon-item .shape{
    float: left;
    width: 30%;
    margin-right: 25px;
    font-size: 15px;
    max-width: 219px;
    margin-left: 25px;
    font-family: "Roboto", sans-serif;

}
.icon-item .shape span{
    font-size: 37px;
}
.icon-item .shape h4{
    font-size: 18px;
    margin: 10px 0px;
    
}
/* About */
.about{
    margin-top: 50px;
    margin-bottom: 40px;
    color: #555555;
}
.about h2{
    margin-bottom: 30px;
}
.about p{
    font-family: "Roboto", sans-serif;
    font-size: 15px;

}
/*  */
.photo{
    float: left;
    width: 50%;
}
.photo img{
    max-width: 100%;
}
.about-us{
    float: right;
    width: 45%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #555555;

}
.about-us h4{
    margin: 15px 0px;
    font-size: 20px;
}
.contact{
    background-color: #f6f6f6;
    margin-top: 50px;
}
.contact h3{
    padding-top: 40px;
    padding-bottom: 30px;
   color: #555555;
}
.contact p{
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;

}
.icon-div{
    width: 33%;
    float: left;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.icon-div span{
    color:#0dbf9b ;
  
}
.icon-div p{
    margin-top: 10px;
    line-height: 20px;
}

.social{
    background-color: #0dbf9b;
    color: white;
    text-align: center;
}
.social i{
    padding: 20px 5px;
}
.footer{
    background-color: #222222;
    text-align: center;
    padding: 20px;
    color: rgba(255, 255, 255, .7);
    font-family: "Roboto", sans-serif;

}